# input data
*.fasta
*.csv
*.bam
*.cram
*.pack

# internal validation scripts / notebooks
eval*
*.sh

# models created in initial exploratory phase
code/saved_models

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# bam files and processed onehot encoding
docker_ohe/

Julian/test
*.csv
/mnt/storageG1/lwang/TB-AMR-CNN/ml_workshop/data
/mnt/storageG1/lwang/TB-AMR-CNN/Julian/test/merged-file

*fastq.gz

*.fasta
*.fa
*.fa.0123
*.fa.amb
*.fa.ann
*.fa.bwt.2bit.64
*.fa.pac
*.pack
individual_models/snps_cryptic50kpos_emb.txt
*.txt
individual_models/cache/

all_sample_snps_50k_*.npy
cache/
all_sample_snps_cryptic_*.npy
all_sample_drs_50k_*.npy
# *.yaml
# find . -type f -size +99M
# find . -type f -size +99M | awk -F. '{if (NF>1) print $NF}' | sort | uniq
